/* ContactList.css */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}

.pagination button:hover:not(:disabled) {
  background-color: #45a049;
}

.select {
  height: 10px;
  width: 300px;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.select-sort {
  height: 10px;
  width: 200px;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-input {
  height: 30px;
  width: 300px;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-button {
  height: 35px;
  width: 100px;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: cornflowerblue;
}

.search-button:hover {
  background-color: #45a049;
}